<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>web_tools</title>
    <script type="text/javascript" src="/js/calculate.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<div class="g-nav clearfix">
    <ul>
        <li class="hidden-xs"><a th:href="@{index}">首页</a></li>
    </ul>
</div>
<div class="item-list">
    <div class="menu-item">
        <div class="item-hd">

            <a>房贷计算器</a>
            <input type="text" default="总贷款金额" name="loan">
            <input type="text" default="贷款年限" name="years">
            <input type="text" default="利率" name="apr">
            <button type="button" name="计算" value="计算" onclick="submint()">
        </div>
    </div>
    <div class="menu-item">
        <div class="item-hd">
            <p></p>
        </div>
    </div>
    <div class="tt">

    </div>

</div>
</body>
</html>