<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>web_tools</title>
    <script src="/js/calculate.js"></script>
</head>
<body>
<div class="g-nav clearfix">
    <ul>
        <li class="hidden-xs"><a th:href="@{index}">首页</a></li>
    </ul>
</div>
<div class="item-list">
    <div class="menu-item">
        <div class="item-hd">

            <a>房贷计算器</a>
            <input type="text" default="总贷款金额" name="loan">
            <input type="text" default="贷款年限" name="years">
            <input type="text" default="利率" name="apr">
            <button type="submit" name="计算" value="计算" onclick="submin()">
        </div>
    </div>
    <div class="menu-item">
        <div class="item-hd">
            <a>工资计算器</a>
        </div>
    </div>
    <div class="tt">

    </div>

</div>
</body>
</html>